# **Statistical Tests**

## Objectives

* Perform distribution checks on the data
* Test project hypotheses through statistical tests

## Inputs

* Cleaned data from ETL pipeline

## Outputs

* Outputs are all contained within the notebook 

## Additional Comments

* If you have any additional comments that don't fit in the previous bullets, please state them here.

---

# Import Data and Load Packages

Load packages required to run the notebook

In [1]:
import pandas as pd
import numpy as np

Import cleaned data produced by the ETL pipeline

In [2]:
# *Import raw data for testing
# Import cleaned data from ETL pipeline into dataframe

df = pd.read_csv("../data/insurance-cleaned.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   age           1338 non-null   int64
 1   sex           1338 non-null   int64
 2   bmi           1338 non-null   float64
 3   children      1338 non-null   int64
 4   smoker        1338 non-null   int64
 5   region        1338 non-null   object
 6   charges       1338 non-null   float64
 7   bmi_category  1338 non-null   object
dtypes: float64(2), int64(4), object(2)
memory usage: 83.8+ KB

Convert data types for categorical variables so that they are handled correctly in the code

In [6]:
df.astype({"sex": 'string'}).dtypes
df.astype({"smoker": 'object'}).dtypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   age           1338 non-null   int64
 1   sex           1338 non-null   int64
 2   bmi           1338 non-null   float64
 3   children      1338 non-null   int64
 4   smoker        1338 non-null   int64
 5   region        1338 non-null   object
 6   charges       1338 non-null   float64
 7   bmi_category  1338 non-null   object
dtypes: float64(2), int64(4), object(2)
memory usage: 83.8+ KB

---

# Distribution Checks

Create visualisations to check distributions to make sure that the correct statistical test is used

In [3]:
df.describe()

,age,sex,bmi,children,smoker,charges
count,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000
mean,39.207025,0.505232,30.663397,1.094918,0.204783,13270.422265
std,14.049960,0.500160,6.098187,1.205493,0.403694,12110.011237
min,18.000000,0.000000,15.960000,0.000000,0.000000,1121.873900
25%,27.000000,0.000000,26.296250,0.000000,0.000000,4740.287150
50%,39.000000,1.000000,30.400000,1.000000,0.000000,9382.033000
75%,51.000000,1.000000,34.693750,2.000000,0.000000,16639.912515
max,64.000000,1.000000,53.130000,5.000000,1.000000,63770.428010

---

NOTE

* You may add as many sections as you want, as long as it supports your project workflow.
* All notebook's cells should be run top-down (you can't create a dynamic wherein a given point you need to go back to a previous cell to execute some task, like go back to a previous cell and refresh a variable content)

---

# Push files to Repo

* In cases where you don't need to push files to Repo, you may replace this section with "Conclusions and Next Steps" and state your conclusions and next steps.

In [ ]:
import os
try:
  # create your folder here
  # os.makedirs(name='')
except Exception as e:
  print(e)